* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  background: #FAFAFA;
  font-size: 16px;
  color: #333;
  font-family: 'Roboto', sans-serif;
}

.container{
  height: 100vh;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.figure-container {
  position: relative;

  height: 200px;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* manipulo o margin bottom e margin left pra mover a colher */
.spoon {
  width: 40px;

  margin-bottom: -20px;
  margin-left: 50px;

  z-index: -9999;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.spoon-cable {
  height: 60px;
  width: 15px;

  margin-bottom: -10px;
  
  border-top-right-radius: 20%;
  border-top-left-radius: 20%;

  background-color: #DBB2AD;
}

.spoon-base {
  height: 40px;
  width: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;

  background-color: #DBB2AD;
}

.spoon-base-content {
  height: 30px;
  width: 20px;

  border-radius: 50%;

  background-color: #F2D5CB;
}

.bowl {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bowl-content {
  height: 80px;
  width: 150px;

  background-color: #E4EEED;

  border-bottom-left-radius: 70%;
  border-bottom-right-radius: 70%;
}

.bowl-footer {
  height: 20px;
  width: 75px;

  margin-top: -15px;
  z-index: -9999;

  background-color: #C1D3D6;

  border-bottom-left-radius: 40%;
  border-bottom-right-radius: 40%;
}